[Desktop Entry]
Encoding=UTF-8
Name=Daglink update
Comment=Update user-configured symlinks
Exec=sleep 10; daglink -f
Type=Application
StartupNotify=false
X-GNOME-Autostart-enabled=true

